# Ignore Sergey Dubinin PyTorch course datasets directories
/Sergey Dubinin - PyTorch for Deep Learning/dataset/
/Sergey Dubinin - PyTorch for Deep Learning/content/

# Jupyter notebooks checkpoint
.ipynb_checkpoints

# Qodo extension for VS Code
.qodo